/**
 * Igni Theme stylesheet
 *
 * @author ifcanduela <ifcanduela@gmail.com>
 */

/** General Styles **/

body {
    background-color: #fff;
    color: #333;
    font: normal 16px/1.6 helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

a {
    color: #39d;
}

a:hover {
    color: #4af;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/** Layout **/

#page {
    margin: 0 auto;
    padding: 20px;
    width: 860px;
}

#header {

}

#nav {
    
}

#nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ol li {
    background-color: #efefef;
    float: left;
    padding: 6px 18px;
    position: relative;
}

#nav ol li:after {
    content: '';
    border: 0 solid transparent;
    border-top: 10px solid #fff;
    border-left-width: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#middle {
    background-color: #efefef;
    border-radius: 2px;
    color: #333;
    clear: both;
}

#main {
    float: left;
    padding: 20px;
    width: 600px;
}

#main img {
    width: 100%;
}

#main p {
    text-align: justify;
}

.posts-nav a {
    display: block;
    width: 49.6%;
}

.posts-nav a.previous-post {
    float: left;
    text-align: left;
}

.posts-nav a.next-post {
    float: right;
    text-align: right;
}

#sidebar {
    float: right;
    padding: 20px;
    position: relative;
    width: 180px;
}

#sidebar::after {
    background-color: transparent;
    border: 14px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    bottom: 0;
    content: '';
    height: 0px;
    position: absolute;
    right: -1px;
    width: 0px;
}

#sidebar ul, #sidebar li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#sidebar li {
    padding: 3px 5px;
}

#sidebar li a {
    display: block;
}

#sidebar li:hover {
    background-color: #fefefe;
}

#footer {
    font-size: 85%;
    margin-top: 20px;
    text-align: center;
}

/** Markdown **/

pre {
    padding: 5px;
}

code {
    padding: 2px;
}

code, pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 1px;
    font: normal 90%/1.4 consolas, "courier new", courier, monospace;
}

pre > code {
    border: none;
    font-size: 100%;
}